<div class='row'>
	<h2>{{ title }}</h2>
	<div class='col-xs-12 col-md-6'>
		<form #f="ngForm" (ngSubmit)="onSelectOption(f)">
			<div class="form-group">
				<div class="radio" *ngFor="let option of options">
					<label>
						<input
						type="radio"
						name="option"
						ngModel
						required
						[value]="option.name">
						{{ option.name }}
					</label>
				</div>
				<button class='btn btn-primary' type='submit' [disabled]="!f.valid">Submit</button>
				<button class='btn btn-danger' 
				type='button' 
				[disabled]="!canDelete()"
				(click)="onDelete()"
				>Delete</button>
			</div>
		</form>
		<hr>
		<form #nf="ngForm" (ngSubmit)="onNewOption(nf)">
			<label>
				<input
				type='text'
				name='newOption'
				class='form-control'
				required
				ngModel>
			</label>
			<button 
			class='btn btn-warning' 
			type='submit'
			[disabled]="!nf.valid">New Option</button>
		</form>
		<ng-template [ngIf]="authenticated">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:4200" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</ng-template>
	</div>
	<div class='col-xs-12 col-md-6'>
		<app-chart
		[data]="options"></app-chart>
	</div>
</div>